*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

.header {
    width: 100%;
    height: 90px;
    display: black;
    background-color: #ffffff;
    font-family: "Georgia", Times, Times New Roman, serif;

}

.inner-header {
    width: 15%;
    height: 100%;
    display: block;
    margin-left: 480px;
    background-color: #4aaaa5;
}
.tags {
    float: right;
    height: 100%;
    margin-right: 450px;
}

.tags {
    float: right;
    height: 100%;
    margin-right: 470px;
}

.space {
    
    Padding-left: 20px;
}


.tags a{
    height: 100%;
    display: table;
    float: right;
    padding: 0px 20px;

}

.tags a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #b4bbc2;
}
.name {
    height: 100%;
    display: table;    
    float: left;        
    clear: left;
}

.name h1 {
    color: #ffffff;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font: Georgia;
    font-size: 30px;
    padding-left: 15px;

}


body {     
    background: url(../images/ricepaper.png);
    margin: 0px;
    padding: 0px;
    font-family: "Ariel", "Helvetica Neue", Helvetica, 
        sans-serif;
    font-size: 18px;
}

.main {
    background-color: #efeee7;
    width: 960px;
    padding: 20px;
    margin: 0px auto;
    
}


.main h3 {
    text-align: left;
    padding: 10px;
    font-family: "Ariel", "Helvetica Neue", Helvetica, 
    sans-serif;
    font-size: 175%;
    color: #4aaaa5;
    border-bottom: 2px solid lightgray;
    margin-bottom: 30px;
}

.contact{
    width: 100%;
    max-width: 900px;
    height: auto;
    padding: 40px;
    
}

.input-fields {
    padding: 0 30px;

}

.input-fields .items {
    width: 100%;
    padding-bottom: 15px;

}

.input-fields .items .label {
    display: block;
    font-size: 1em;
    color: #b4bbc2;
    text-transform: capitalize;
    padding-bottom: 1px;
}

.input-fields .items .input,
.input-fields .items .text-area {
    background: transparent;
    border: 1px solid #b4bbc2;
    width: 100%;
    height: 35px;
}

#msg {
    height: 150px;
}

.btn {
    margin: 0px 10px;
    background: #4aaaa5;
    color: #b4bbc2;
    font-weight: 700;
    padding: 10px;
    text-transform: capitalize;
    width: 85px;
}

footer {
    background-color: #666666;
    font-size: 10px;
    border-top: 8px solid #4aaaa5;

    
}

.wrapper {
    min-height: 100%;
    margin-bottom: -60px;
}

.wrapper:after {
    content: "";
    display: block;
}

.wrapper:after, footer {
    height: 60px;
}

.footer {
    text-align:center;
    padding-top: 25px;
    font-size: 10px;
}



