*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

.header {
    width: 100%;
    height: 90px;
    display: black;
    background-color: #ffffff;
    font-family: "Georgia", Times, Times New Roman, serif;

}

.inner-header {
    width: 15%;
    height: 100%;
    display: block;
    margin-left: 450px;
    background-color: #4aaaa5;
}
.tags {
    float: right;
    height: 100%;
    margin-right: 450px;
}

.tags a{
    height: 100%;
    display: table;
    float: right;
    padding: 0px 20px;

}

.tags a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #b4bbc2;
}
.name {
    height: 100%;
    display: table;    
    float: left;        
    clear: left;
}

.name h1 {
    color: #ffffff;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font: Georgia;
    font-size: 30px;
    padding-left: 15px;

}


body {     
    background: url(../images/ricepaper.png);
    margin: 0px;
    padding: 0px;
    font-family: "Ariel", "Helvetica Neue", Helvetica, 
        sans-serif;
    font-size: 18px;
}

.main {
    background-color: #efeee7;
    width: 960px;
    padding: 20px;
    margin: 0px auto;
    
}


.main h3 {
    text-align: left;
    padding: 10px;
    font-family: "Ariel", "Helvetica Neue", Helvetica, 
    sans-serif;
    font-size: 175%;
    color: #4aaaa5;
    border-bottom: 2px solid lightgray;
    margin-bottom: 30px;
}

.burger, .city, .buildings, 
.cat, .nature {
    margin-left: 10px;
    float: left;
    height: 220px;
    width: 220px;
    border: 10px solid transparent;   
    
}

.text {
    height: 10px;
    width: 100%;
    align-items: bottom;
}


.footer {
    background-color: #666666;
    font-size: 10px;
    border-top: 8px solid #4aaaa5;

    
}

.wrapper {
    min-height: 100%;
    margin-bottom: -60px;
}

.wrapper:after {
    content: "";
    display: block;
}

.wrapper:after, footer {
    height: 60px;
}

.footer {
    text-align:center;
    padding-top: 25px;
    font-size: 10px;
}



